* {
  margin: 0px;
  padding: 0px;
  border: 0px;
}

.logo {
  width: 24px;
  height: 24px;
  padding: 10px 16px;
}

.hamburger {
  display: inline-block;
  padding: 10px 19px;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  position: relative;
}

#chk-nav-bar {
  display: none;
}

.menu-options {
  display: none;
  justify-self: flex-start;
  position: absolute;
  top: 44px;
  width: 100%;
}

.menu-options li {
  list-style-type: none;
  padding: 12px 16px;
  text-transform: uppercase;
  background: #0000ec;
  color: #ffffff;
}

.menu-options-links {
  font-family: "IBM Plex Mono", monospace;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: 0;
  line-height: 28px;
  text-decoration: none;
}
.menu-options-links:hover {
  font-family: "IBM Plex Mono", medium;
  font-size: 16px;
  color: #00f3bb;
  letter-spacing: 0;
  line-height: 28px;
}
.menu-options-links:active {
  font-family: "IBM Plex Mono", monospace;
  font-size: 16px;
  color: rgba(6, 10, 36, 0.56);
  letter-spacing: 0;
  line-height: 28px;
}

.burger-close {
  display: none;
  padding: 10px 19px;
}

#chk-nav-bar:checked ~ #burger-open {
  display: none;
}

#chk-nav-bar:checked ~ .menu-options,
#chk-nav-bar:checked ~ #burger-close {
  display: block;
}

/*Wellcome section*/
.wellcome {
  margin: 29px 16px 24px 16px;
}

.wellcome-title {
  font-family: "IBM Plex Sans", monospace;
  font-size: 36px;
  color: #060a24;
  letter-spacing: 0;
  line-height: 42px;
  font-weight: lighter;
}

.wellcome-description {
  font-family: "IBM Plex Mono", monospace;
  margin-top: 16px;
  font-size: 14px;
  color: #060a24;
  letter-spacing: 0;
  line-height: 22px;
}

.wellcome-button {
  margin-top: 36px;
  width: 100%;
  height: 48px;
  border: none;
  background-color: #00f3bb;
  font-family: "IBM Plex Mono", monospace;
  font-size: 16px;
  letter-spacing: 0px;
  line-height: 22px;
}

.wellcome-button:hover:before {
  background-image: linear-gradient(225deg, #0000fe 0%, #00f0b8 100%);
}

/*Episode section*/
.episode {
  position: relative;
  height: 1203.5px;
  background-image: linear-gradient(#0000ff, #0000a3);
}

.episode-backgound-top {
  position: absolute;
  top: 0;
  width: 100%;
  height: 10vw;
}

.episode-backgound-bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 10vw;
}

.episode h2 {
  font-weight: lighter;
  position: absolute;
  top: 64px;
  left: 16px;
  font-family: "IBM Plex Sans", monospace;
  font-size: 36px;
  color: #ffffff;
  letter-spacing: 0;
  line-height: 42px;
}
.pod {
  display: flex;
  flex-direction: column;
  padding: 127px 0 0 0;
}

.pod1 {
  display: flex;
  flex-direction: column;
}

.podcast-spoty {
  display: flex;
  justify-content: center;
  width: 98%px;
  height: 232px;
  margin: 6px 6px 0 6px;
}
/* Nosotros section */
.imag-mobile {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
}
.mobile {
  height: 519px;
  width: 90%;
  position: absolute;
  margin-top: -35px;
}
.nosotros h2 {
  font-weight: lighter;
  font-family: "IBM Plex Sans", monospace;
  font-size: 36px;
  color: #060a24;
  letter-spacing: 0;
  line-height: 42px;
  margin-left: 16px;
  padding-top: -100px;
  margin-top: 27px;
}
.nosotros p {
  font-family: "IBM Plex Mono", monospace;
  font-size: 14px;
  color: #060a24;
  letter-spacing: 0;
  line-height: 22px;
  margin: 16px;
}
/* Entrevistas section*/
.entrevistas {
  display: flex;
  flex-direction: column;
}
.entrevistas h2 {
  font-weight: lighter;
  font-family: "IBM Plex Sans", monospace;
  font-size: 36px;
  color: #060a24;
  letter-spacing: 0;
  line-height: 42px;
  margin: 16px;
}
.entrevistas .fotos .foto1 {
  width: 100%;
  height: 243px;
  display: flex;
  flex-direction: column;
}

/* Topicos section*/
.topicos h2 {
  font-weight: lighter;
  font-family: "IBM Plex Sans", monospace;
  font-size: 36px;
  color: #060a24;
  letter-spacing: 0;
  line-height: 42px;
  margin: 42px 16px 37px 16px;
}
.topicos h3 {
  font-family: "IBM Plex Sans", monospace;
  font-size: 24px;
  color: #060a24;
  letter-spacing: 0;
  text-align: center;
}
.box-icon {
  text-align: center;
  margin-bottom: 42px;
}
.box-icon .icon1 {
  height: 104px;
  width: 104px;
  margin-bottom: 13px;
}
.box-icon .icon {
  height: 104px;
  width: 104px;
  margin-top: 49px;
  margin-bottom: 13px;
}
.box-icon .boxi {
  margin-bottom: 12px;
}
/* Section*/
.temas {
  position: relative;
  margin-top: 65xp;
  height: 341px;
  background-image: linear-gradient(225deg, #0000ff 0%, #0000a3 100%);
}
.temas-backgound-top {
  position: absolute;
  top: 0;
  width: 100%;
  height: 10vw;
}
.temas h2 {
  font-weight: lighter;
  font-family: "IBM Plex Sans", monospace;
  font-size: 36px;
  color: #ffffff;
  letter-spacing: 0;
  text-align: center;
  line-height: 42px;
  padding-top: 64px;
}
.two-button {
  margin-top: 36px;
  margin-left: 16px;
  margin-right: 16px;
  width: 90%;
  height: 48px;
  border: none;
  background-color: #00f3bb;
  font-family: "IBM Plex Mono", monospace;
  font-size: 16px;
  letter-spacing: 0px;
  line-height: 22px;
}
/* Footer */
.footer {
  align-items: center;
  height: 133px;
}
.footer p {
  font-family: "IBM Plex Mono", monospace;
  font-size: 14px;
  color: #060a24;
  letter-spacing: 0;
  line-height: 22px;
  text-align: center;
  padding-top: 24px;
  margin-bottom: 16px;
}
.iconsf {
  display: flex;
  justify-content: center;
  align-items: center;
}
i {
  color: black;
}
.f1 {
  margin-left: 20px;
  margin-right: 20px;
}
@import "desktop";
